#nihilist::first-letter{
	font-size: 220px;
}

#nihilist {
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 160px;
	letter-spacing: 14px;
	color: #ffffff;
	margin-top: 30px;
	margin-bottom: -90px;
}

#scope {
		text-align: center;
		font-family: 'Reem Kufi', sans-serif;
		font-size: 68px;
		letter-spacing: 6px;
		color: #ffffff;
		margin-top: -20px;
		margin-bottom: 30px;
}


body {
	background-image: url(http://orig02.deviantart.net/5f48/f/2010/248/1/1/starscape_wip_1_by_vaniyz-d2y4g9y.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

button {
	height: 250px;
	length: 250px;
	width: 250px;
	margin: 8px;
	border-radius: 120px;
	border-color: grey;
	border-width: medium;
}

Button:hover {
		animation: fade 1s forwards;
  	background-color: transparent;
	 	backface-visibility: hidden;
		 background-image: none;
	 border-color: white;
	 color: white;
}

button:focus {
	outline: 0;
	background-image: url(https://i.giphy.com/media/3Pt2v2lFoYVqg/giphy.webp);
}

table {
	margin-left: auto;
	margin-right: auto;
}

.aquarius {
	background-image: url(https://ak5.picdn.net/shutterstock/videos/19478434/thumb/10.jpg);
	background-size: 400px;
	background-position: center;
}

.pisces {
	background-image: url(https://ak8.picdn.net/shutterstock/videos/19478491/thumb/10.jpg);
	background-size: 380px;
	background-position: center;
}

.aries {
	background-image: url(http://i.imgur.com/Ki8KODV.jpg);
	background-size: 470px;
	background-position: center;
}

.taurus {
	background-image: url(http://i.imgur.com/GJMuXFf.jpg);
	background-size: 360px;
	background-position: center;
}

.gemini {
	background-image: url(http://i.imgur.com/uWhANLc.jpg);
	background-size: 370px;
	background-position: center;
}

.cancer {
	background-image: url(http://i.imgur.com/qah8TeM.jpg);
	background-size: 400px;
	background-position: center;
}

.leo {
	background-image: url(http://i.imgur.com/PcGDBmh.jpg);
	background-size: 370px;
	background-position: center;
}

.virgo {
	background-image: url(http://i.imgur.com/sYoQR2z.jpg);
	background-size: 370px;
	background-position: center;
}

.libra {
	background-image: url(http://i.imgur.com/06WN59K.jpg);
	background-size: 400px;
	background-position: center;
}

.scorpio {
	background-image: url(http://i.imgur.com/YwCgh9L.jpg);
	background-size: 400px;
	background-position: center;
}

.sagittarius {
	background-image: url(http://i.imgur.com/Dcj7u4S.jpg);
	background-size: 400px;
	background-position: center;
}

.capricorn {
	background-image: url(http://i.imgur.com/aJDu8hC.jpg);
	background-size: 400px;
	background-position: center;
}

.sign {
	font-size: 36px;
	letter-spacing: 1px;
	text-shadow: -2.5px 0 black, 0 2px black, 2.5px 0 black, 0 -2px black;
	font-family: 'Reem Kufi', sans-serif;
	color: #ffffff;

}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
